venv/

*.pyc
__pycache__/
__pycache__/dataset/

flaskr/static/node_modules
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env

__Dataset__/
static/node_modules/
config.py

__temp_archive__/

logs/