.readonly {
  pointer-events: none;
  user-select: none;
}

.readonly #customfunc-bar {
  visibility: hidden;
}

.editable {
  pointer-events: auto;
  user-select: auto;
}

.editable #customfunc-bar {
  visibility: visible;
}

#customfunc-bar {
  position: fixed;
  left: 4rem;
  top: 1rem;
  border-radius: 0.5rem;
  /* Regular */
  box-shadow: 2px 2px 0.5px 0px rgba(109, 120, 148, 0.25);
  z-index: 50;
}

#customfunc-bar>.wrapper {
  /* layout */
  display: inline-flex;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#content-frame .wrapper {
  position: relative;
}

.customprompt {
  position: absolute;
  width: 12000px;
  height: 12000px;
  left: 0px;
  top: 0px;
  white-space: nowrap;
}

.customprompt.disable-pointer-events{
  pointer-events: none;
}
.customprompt.disable-pointer-events #canvasDraw{
  pointer-events: auto;
}

.customprompt #canvasDraw {
  position: absolute;
  z-index: 0;
}


#customImage {
  position: relative;
  z-index: -1;
}


/* .wrapper.disable-pointer-events * {
  pointer-events: none;
}

.wrapper.disable-pointer-events #canvasDraw {
  pointer-events: auto;
} */



.customprompt .node {
  /* layout */
  display: flex;
  /* testing width */
  width: 14rem;
  height: 1.375rem;
  padding: 0rem 1.25rem;
  justify-content: center;
  align-items: center;
  /* style */
  position: absolute;
  border-radius: 0.3125rem;
  box-shadow: var(--node);
  z-index: 1;
  pointer-events: auto;
  overflow-x: none;
  overflow-y: none;
}

.customprompt .node>.node-wrapper {
  display: block;
    /* overflow: none; */
  /* white-space: normal; */
  /* overflow: hidden; */
  flex: 1 0 0;
  /* width: 100%; */
  /* user-select: none; */
}

.node>.input-identifier,
.node>.output-identifier {
  display: flex;
  width: 1.5rem;
  height: 1.375rem;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.node>.input-identifier {
  right: 0rem;
}

.node>.output-identifier {
  left: 0rem;
}

.identifier-dot {
  width: 0.5rem;
  height: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
}

.identifier-unselected {
  background: #fff;
}

.identifier-selected {
  background: #000;
  outline: 2px solid #000;
}

.identifier-toselect {
  outline: 2px solid #000;
  /* outline-offset: 2px;  */
}

.node-selected {
  outline: 4px solid #000;
  outline-offset: -2px;
}


/* #nodecustom .node-wrapper[contenteditable]::before {
    content: "CUSTOM";
    color: var(--variable-collection-grey);
  } */



.leader-line {
  z-index: 0;
}


.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100%-0.5rem);
  width: auto;
  background-color: rgba(255, 255, 255, 0.95);
  align-items: left;
  padding: .5rem;
  border-radius: .25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity .15s ease-in-out, tansform .15s ease-in-out;
  text-align: left;
}

.dropdown-menu>.dropdown-item {
  line-height: 2;
  color: rgb(30, 30, 30);
}

/* Selectors */

.inSelBox {
  position: absolute;
  border: 1px dashed var(--variable-collection-themedarkpurple);
  background-color: rgba(232, 237, 250, 0.15);
  pointer-events: none;
  /* This makes the box not interfere with mouse events */
}

.selectedBox {
  position: absolute;
  outline: 4px solid var(--variable-collection-themedarkpurple);
  /* outline-offset: 2px; */
}