/* generate.html */

.title-bar {
  background: linear-gradient(to bottom, #ffffff 50%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
  z-index: 5;
}

.function-frame {
  display: flex;
  width: 90rem;
  padding: 5rem 5rem 3rem 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.function-frame>.func-wrapper-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: default;
}

.func-wrapper-view>#view-playground>.wrapper,
.func-wrapper-view>#view-custom>.wrapper {
  /* layout */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* style */
  border-radius: 0.5rem;
  background: var(--variable-collection-themelightpurple);
  box-shadow: var(--regular);
}

#view-playground .sub-wrapper,
#view-custom .sub-wrapper {
  /* layout */
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* style */
  border-radius: 0.5rem;
  background: var(--variable-collection-themedarkpurple);
  box-shadow: var(--regular);
}

#view-playground .text-wrapper,
#view-custom .text-wrapper {
  display: flex;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

#toggle-custom,
#toggle-playground {
  cursor: pointer;
}

.wrapper:has(#toggle-custom:hover, #toggle-playground:hover) {
  /* styles for the parent when the child is hovered */
  background-color: var(--variable-collection-themedarkpurple);
}

.func-wrapper-view>.sub-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.func-wrapper-view>.sub-wrapper>.sub-sub-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.sub-wrapper .card-14 {
  text-align: left;
}

.send-to-custom:hover {
  text-decoration: underline;
  cursor: pointer;
}

.func-wrapper-engbar>#engineer-bar-folded>.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.func-wrapper-engbar>#engineer-bar-unfolded>.wrapper {
  display: flex;
  width: 80rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

#engineer-bar-unfolded .sub-wapper-1 {
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;
}

#engineer-bar-unfolded .sub-wapper-2 {
  /* layout */
  display: flex;
  width: 80rem;
  padding: 1.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  /*style*/
  border-radius: 0.5rem;
  /* border: 2px solid var(--variable-collection-themedarkpurple); */
}

.component-eng-tab {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  position: relative;
  flex: 0 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
  /* box-shadow: var(--regular); */
  border: 2px solid var(--variable-collection-themedarkpurple);
  cursor: pointer;
}

.component-eng-tab:hover,
.component-eng-tab.active {
  background-color: var(--variable-collection-themedarkpurple);
}

/* .component-eng-tab.inactive {
  background-color: var(--variable-collection-themelightpurple);
} */


.sub-wapper-2>.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.wrapper>.sub-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

#engineer-bar-unfolded .sub-wrapper>.sub-sub-wrapper {
  /* layout */
  display: flex;
  padding: 2.0625rem 5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.625rem;
  /* style */
  border-radius: 0.5rem;
  /* background: rgba(244, 247, 254, 0.75); */
  /* border: 2px dashed var(--variable-collection-themedarkpurple); */
}

#quickgenerate>.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

#quicksel-folded>.wrapper-1 {
  display: inline-flex;
  height: 2.875rem;
  align-items: center;
  gap: 4.5rem;
  flex-shrink: 0;
}

#quicksel-unfolded>.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

#quicksel-unfolded>.wrapper .sub-wrapper-1 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#quicksel-unfolded>.wrapper .sub-wrapper-2 {
  display: flex;
  align-items: center;
  gap: 2rem;

  /* typography */
  color: rgba(27, 30, 37, 0.50);
  text-align: right;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
}

/* info-frame */
.info-frame>.wrapper {
  display: flex;
  width: 90rem;
  padding: 0.75rem 5rem 2.25rem 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.info-frame #system-bar {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.info-frame>#info[contenteditable]:focus {
  outline: 2px solid var(--variable-collection-themedarkpurple);
  border-radius: 0.25rem;
  outline-offset: 0.5rem;
  /* Adjust this value as needed */
  border: none;
}

#system-bar .toggle {
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
}

#system-bar .toggle:hover {
  background-color: var(--variable-collection-themedarkpurple);
  box-shadow: var(--regular);
}

#system-bar .toggle.active {
  background-color: var(--variable-collection-themedarkpurple);
  box-shadow: var(--regular);
}

#system-bar #colorpicker-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#colorPickerFunc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  cursor: pointer;
}

.pickerfunc:hover {
  text-decoration: underline;
}

/* content-frame */
#content-frame>.wrapper {
  display: flex;
  height: auto;
  padding: 1rem 0rem;
  padding-bottom: 12rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

#content-frame .canvas {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: flex-start;

  /* position */
  position: absolute;
  left: 22.5rem;
  top: 2.5rem;
}

#content-frame .prompt-user-wrapper {
  display: flex;
  padding: 1rem 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}

#content-frame .prompt-frame {
  width: 90rem;
  height: auto;
  flex-shrink: 0;
  position: relative;

}

.prompt-frame>.prompt {
  display: inline-flex;
  width: 90rem;
  /* Fixed width of the container */
  padding-top: 3rem;
  /* padding-bottom: 3rem; */
  align-items: flex-start;
  align-self: stretch;
  position: relative;
  border-radius: 0.5rem;
  /* Set position relative to allow absolute positioning of children */
  /* overflow-x: scroll;  */
  white-space: nowrap;
  /* Ensures no text wrapping occurs */
}

.prompt.disable-pointer-events {
  pointer-events: none;
}

.prompt.disable-pointer-events #canvasDraw {
  pointer-events: auto;
}

.prompt #canvasboard {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.prompt #canvasDraw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.prompt-frame>.prompt.focused {
  outline: 2px solid var(--variable-collection-themedarkpurple);
}

.prompt .col {
  display: flex;
  width: 22.5rem;
  padding: 1rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;

  position: absolute;
  overflow-y: none;
  pointer-events: none;
}

.prompt .node {
  /* layout */
  display: flex;
  /* testing width */
  width: 14rem;
  height: 22px;
  padding: 0rem 1.25rem;
  justify-content: center;
  align-items: center;
  /* style */
  position: absolute;
  border-radius: 0.3125rem;
  box-shadow: var(--node);
  z-index: 1;
  pointer-events: auto;
}

.node .node-wrapper {
  /* overflow: none; */
  /* white-space: normal; */
  flex: 1 0 0;
  /* user-select: none; */
}

.tooltip.node-wrapper {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip.node-wrapper.hovered {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgba(29, 28, 52, 1);
}

/* major tooltip style in styleguide.css */
.tooltip.node-wrapper .tooltiptext {
  min-width: 18rem;
  bottom: 150%;
}
.tooltip.hovered .tooltiptext {
  visibility: visible;
}

.prompt-funcbar>.wrapper {
  /* layout */
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* position */
  position: absolute;
  top: 0rem;
  left: 4.5rem;
  pointer-events: auto;
}

.prompt-funcbar .toggle.active {
  background-color: var(--variable-collection-themedarkpurple);
  cursor: pointer;
}

.prompt-funcbar .toggle.inactive {
  background-color: var(--variable-collection-themelightpurple);
  cursor: pointer;
}

.node>.start-square {
  position: absolute;
  /* right: -0.25rem; */
  width: 0.5rem;
  height: 0.5rem;
  flex-shrink: 0;

}

.node>.input-identifier,
.node>.output-identifier {
  display: flex;
  width: 1.25rem;
  height: 1.375rem;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.node>.input-identifier {
  right: 0rem;
}

.node>.output-identifier {
  left: 0rem;
}

.identifier-dot,
.identifier-temp {
  width: 0.5rem;
  height: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
}

.identifier-unselected {
  background: #fff;
}

.identifier-selected {
  background: #000;
  outline: 2px solid #000;
}

.identifier-selected.feedback-selected {
  background: #525A70;
  outline: 2px solid #525A70;
}

.identifier-toselect {
  background: white;
  outline: 2px solid #000;
  /* outline-offset: 2px;  */
}

.identifier-toselect.feedback-toselect {
  outline: 2px solid #525A70;
  /* outline-offset: 2px;  */

}

.node-selected {
  outline: 4px solid #000;
  outline-offset: -2px;
}

svg.leader-line {
  pointer-events: none;
  z-index: 0;
}


/* content-custom-frame */
#content-custom-frame>.wrapper {
  display: flex;
  padding: 1rem 5rem;
  padding-top: -3rem;
  flex-direction: column;
  align-items: left;
  align-self: stretch;
}

/* this is the secret sauce for adjusting fontsize for iframe */
#content-custom-frame.hidden {
  display: block;
  visibility: hidden;
}

/* this is the secret sauce for adjusting fontsize for iframe */
#content-custom-frame.hidden .wrapper iframe {
  height: 0;
}

#content-custom-frame>.wrapper iframe {
  align-self: stretch;
  width: 96rem;
  height: 54rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

iframe.readonly {
  border: none;
}

iframe.editable {
  pointer-events: auto;
  border: 2px solid var(--variable-collection-themedarkpurple);
}

.zoomable {
  transform-origin: 0 0;
}

/* iconbutton-frame */
.iconbutton-frame {
  display: flex;
  padding: 2.5rem 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  pointer-events: none;
}