body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}


/* base.html */
.title-bar {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: calc(50%-42rem);
  padding-right: calc(50%-42rem);
  top: 0rem;
  height: 5rem;
  width: 100%;
  min-width: 60rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: fixed;
  z-index: -1;
}

.title-bar .wrapper {
  display: flex;
  width: 84rem;
  justify-content: center;
  align-items: center;
  gap: 43rem;
}

.title-bar .component-wrapper {
  display: flex;
  padding: 0.25rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 5rem;
  background: var(--variable-collection-themelightpurple);

  /* Regular */
  box-shadow: 2px 2px 0.5px 0px rgba(109, 120, 148, 0.25);
  cursor: pointer;
}
.title-bar .component-wrapper:hover{
  background:var(--variable-collection-themedarkpurple);
}
.title-bar .heading-2 {
  font-weight: 500;
  white-space: nowrap;
}
.navbar .heading-2:hover {
  font-weight: 900;
}
.title-bar .title {
  width: 5rem;
}

.title-bar .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  width: 36rem;
}

.toggle {
  position: relative;
}

/* index.html */
.landing-page{
  display: flex;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: calc(50%-42rem);
  padding-right: calc(50%-41rem);
  top: 5rem;
  height: calc(100% - 5rem);
  width: 100%;
  min-width: 60rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: fixed;
}

.landing-page>.wrapper {
  display: flex;
  width: 84rem;
  justify-content: flex-end;
  align-items: center;
  gap: 15.25rem;
  align-self: stretch;
  position: relative;
}

.landing-page #mockup-1 {
  width: 36.5rem;
  height: 45.89625rem;
  background: url("../static/images/landing-page.jpg") lightgray 50% / cover no-repeat;
  box-shadow: 9px 12px 36px 0px rgba(109, 120, 148, 0.75);
  border-radius: 1rem;
  position: absolute;
  top: 1rem;
  right: 0rem;
}

.landing-page .content-wrapper {
  display: flex;
  width: 33.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4.5rem;
  align-self: stretch;
  text-align: left;
  position: absolute;
  left: 0rem;
  top: 1rem;
}

.landing-page .content-wrapper>.sub-wrapper {
  width: 33.625rem;
  height: 18.25rem;
  white-space: normal;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 8.5rem;
}

.landing-page .content-wrapper:has(.component-wrapper:hover) {
  gap: 4.25rem;

}

.landing-page .component-wrapper{
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  gap: 1.25rem;
  border-radius: 6rem;
  background: var(--ThemeDarkColor, #1d1c34);
  cursor: pointer;
  box-shadow: var(--regular);
  position: absolute;
  top: 32rem;
  /* Add transition for the hover effect */
  transition: box-shadow 0.3s ease, padding 0.3s ease;
}

.landing-page .component-wrapper:hover {
  box-shadow: var(--highlight-icon);
  padding: 1.5rem 3rem;
  /* Adjust padding on hover */
}

.landing-page .component-wrapper .sub-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.landing-page .component-wrapper .component-text {
  color: #FFF;
  text-align: right;
  font-family: var(--heading-2-font-family);
  font-size: 1.5rem;
  font-weight: 500;
  transition: none;
  /* No transition for the text to keep its position */
}

