<!DOCTYPE html>
<html lang="en">

<head>
    <title>EcoCircuit AI | Custom </title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleguide.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='node_modules/leader-line/leader-line.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='node_modules/plain-draggable/plain-draggable.min.js') }}"
        defer></script>
    <script src="{{ url_for('static', filename='base.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='generatecustom/CustomNode.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='generatecustom/CustomFlowline.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='generatecustom/CustomIdentifier.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='generatecustom/CanvasDraw.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='generatecustom/MarqueeTool.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='generatecustom/CustomFuncBar.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='generatecustom/generatecustom.js') }}" defer></script>

</head>


<body>
    <div id="custom-body-wrapper" class="readonly">
        <div id="content-frame">
            <div class="wrapper" id="wrapper">
                <div class="customprompt-frame" id="customprompt-frame">
                    <div id="custom-id" class="hidden">{{customproject['id']}}</div>
                    <div class="customprompt-flow hidden" id="customPromptFlow">{{customproject['flow']}}</div>
                    <div class="customprompt-node hidden" id="customPromptNode">{{customproject['node']}}</div>
                    <div class="customprompt-system hidden" id="customPromptSystem">{{customproject['system']}}
                    </div>
                    <div class="customprompt" id="customprompt">
                        <div id="customfunc-bar">
                            <div class="wrapper">
                                <button id="selmode" class="custom-toggle active icon-common icon-selM"></button>
                                <span class="normal"> | </span>
                                <button id="drawmode" class="custom-toggle inactive  icon-common icon-drawM"></button>
                                <span class="normal"> | </span>
                                <button id="nodemode" class="custom-toggle inactive  icon-common icon-nodeM"></button>
                                <!-- <span class="normal"> | </span> -->
                                <!-- <button id="fullscreen" class="custom-toggle inactive  icon-common icon-fullscreen"></button> -->
                            </div>
                        </div>
                        <div id="canvasboard">
                            <canvas id="canvasDraw" width="12000px" height="12000px"></canvas>
                        </div>
                        <div id="customnode-wrapper">
                            <!-- <div class="customImage" id="customImage"
                                style="left: 22.5rem; top: 0; position: absolute; width: 45rem; height: 45rem; border-radius: 0.5rem;">
                                <img src="{{customproject['img_url']}}" class="image">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>