{% extends 'index.html' %}

{% block auth_content %}
<div class="overlay"></div>
<div class="auth-popup">

  <div class="component-icon" id="signin-close"> <a href="{{ url_for('project.index') }}">
      <span class='icon-common icon-close'></span>
    </a></div>

  <div class="frame">
    <form method="post">
      <div class="signin-frame">
        <div class="div">
          <label for="username" class="heading-2">Username</label>
          <input type="username" name="username" id="username" required class="text-area"
            style="background-color: transparent;">
        </div>
        <div class="div">
          <label for="password" class="heading-2">Password</label>
          <input type="password" name="password" id="password" required class="text-area">
        </div>
        <div class="component-bar-1">
          <button type="submit" class="component-text" style="color:white">
            Sign In
          </button>
        </div>
      </div>
    </form>

    <div class="divide-line">
      <div class="horizontal-line"></div>
      <div class="heading-2">New to EcoCircuit?</div>
      <div class="horizontal-line"></div>
    </div>

    <div class="new-account-frame">
      <div class="component-bar-1" style="background-color:#F4F7FE ;">
        <div><a href="{{ url_for('auth.register') }}" style="color: var(--variable-collection-themedarkpurple);"  class="component-text">Create a
            new account</a>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}