{% extends 'base.html' %}

{% block content %}
<div class="landing-page">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="sub-wrapper">
        <div class="heading-0">We ask AI to think in the way that engineers think</div>
        <div class="heading-2">Empowered by LLM, EcoCircuit generates a mind map with systematic thinking following the
          classic engineering model with inputs, outputs, processes, co-optimization, and feedback / regeneration, to
          provide users ideas to later doodle on.</div>
      </div>
      <form method="post">
        <button class="component-wrapper" id="start-thinking" type="submit" name="navigate">
          <div class="sub-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 25 29" fill="#FFF">
              <path
                d="M3.20655 28.7783C2.654 28.7783 2.13532 28.6434 1.67011 28.3718C0.59354 27.744 0 26.5028 0 24.8767V4.67972C0 3.0536 0.59354 1.81242 1.67011 1.18464C2.74668 0.556857 4.10844 0.659388 5.50406 1.47245L22.8344 11.5709C24.23 12.384 25 13.5226 25 14.7782C25 16.0338 24.2318 17.1724 22.8344 17.9855L5.50406 28.084C4.71089 28.5463 3.9302 28.7783 3.20476 28.7783H3.20655Z"
                fill="white" />
            </svg>
            <div class="component-text">Start Thinking</div>
          </div>
        </button>
      </form>
    </div>
    <div id="mockup-1"></div>
  </div>
</div>

{% block auth_content %}
<!-- This content will be replaced in the auth template -->
{% endblock %}

{% endblock %}